/* Default size (small) */
.progressContainer {
  width: 99px;
  height: 90px;
  background-color: transparent;
  position: relative;
  margin-bottom: 1rem;
  /* border: 2px solid red; */
}

.outerBar {
  width: 90px;
  height: 50px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* border: 2px solid green; */
}

.innerBar {
  background-color: transparent;
  position: relative;
  z-index: 500;
  width: 70px;
  height: 40px;
  border-radius: 52% 50% 0 0 / 100% 100% 0 0;
  display: flex;
  justify-content: center;
}

.progressContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg {
  position: absolute;
  width: 90px;
  height: 80px;
  transform: rotate(0deg);
  top: -10px;
  left: 0;
}

.path {
  fill: none;
  stroke-width: 20px;
}

.progressTitle {
  margin: 10px 0;
  margin-top: 6rem;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  color: #b0b0b0;
}

.progressSubtitle {
  padding: 0;
  margin-top: 0;
  font-size: 10px;
  font-weight: 400;
  color: #b0b0b0;
  text-align: center;
}

.largeProgressContainer{
  width: 109px;
  height: 100px;
  /* border: 2px solid green; */
}
.largeOuterBar{
  width: 100px;
  height: 60px;
  /* border: 2px solid red; */
}
.largeInnerBar{
  width: 80px;
  height: 50px;
}

.largeSvg{
  width: 100px;
  height: 90px;
}

.largePath{
  stroke-width: 22px;
}

.largeProgressTitle {
  font-size: 16px;
  margin-top: 7rem;
}

.largeProgressSubtitle {
  font-size: 13px;
  font-weight: 500;
}
