/* Default size (small) */
.progressContainer {
  max-width: 119px;
  min-width: 99px;
  /* min-height: 90px; */
  height: 116px;
  width: 100%;  
  /* can we change to vw | vh to make a diff */
  /* height: 100%; */
  background-color: transparent;
  position: relative;
  margin-bottom: 1rem;
  /* border: 2px solid red; */

}

.outerBar {
  width: 100%;
  min-width: 90px;
  min-height: 50px;
  max-width: 113px;
  max-height: 80px;
  height: 100%;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* border: 2px solid green; */

}

.innerBar {
  background-color: transparent;
  position: relative;
  z-index: 500;
  max-width: 90px;
  min-width: 70px;
  min-height: 40px;
  max-height: 70px;
  /* width: 100%;
  height: 40%; */
  border-radius: 52% 50% 0 0 / 100% 100% 0 0;
  display: flex;
  justify-content: center;
  /* border: 2px solid pink; */
  /*   width: 90px;
  height: 70px; */
}

.progressContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
}

.svg {
  position: absolute;
  width: 100%;
  height: 90%;
  /* border: 2px solid magenta; */
  max-width: 113px;
  max-height: 70px;
  min-height: 80px;
  min-width: 90px;
  transform: rotate(0deg);
  top: -10px;
  left: 0;
  /*  width: 113px;
  height: 70px; */
}

.path {
  fill: none;
  stroke-width: 20px;  
  /* add media query */
  /* border: 2px solid blue; */
}

.progressTitle {
  margin: 10px 0;
  margin-top: 5.3rem; 
  /* add media query */
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: #b0b0b0;
  /*  font-size: 17px;
  margin-top: 5.3rem; */
  /* border: 2px solid red; */
}

.progressSubtitle {
  padding: 0;
  margin-top: 0;
  font-size: 11px;
  font-weight: 400;
  color: #b0b0b0;
  text-align: center;
}

.largeProgressContainer{
  width: 119px;
  height: 116px;
  /* border: 2px solid green; */
}
.largeOuterBar{
  width: 113px;
  height: 80px;
  /* border: 2px solid red; */
}
.largeInnerBar{
  width: 90px;
  height: 70px;
}

.largeSvg{
  width: 113px;
  height: 70px;
}

.largePath{
  stroke-width: 22px;
}

.progressTitle {
  font-size: 17px;
  margin-top: 5.3rem;
}

.largeProgressSubtitle {
  font-size: 14px;
  font-weight: 500;
}
