@isakshamkumar2:registry=https://npm.pkg.github.com/

# //registry.npmjs.org
# @GenFlowly:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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