@isakshamkumar2:registry=https://npm.pkg.github.com/x
# //registry.npmjs.org
# @GenFlowly:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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